/* login and registration start here   */
.image-size {
    margin: 5px;
    max-width: 100%;
    height: 240px;
    border-radius: 8px;
}
.margin-top{
	    margin: 150px;
}
.fs-1 {
    font-size: 1.5rem!important;
}


/* for registration form  */
.reg-image-size {
  margin: 12px 0px 0px 17px;
  max-width: 108%;
  height: 325px;
  border-radius: 8px;
}

.form-control:focus {
  box-shadow: none;
}

/* for registration form  */
.reg-m-top {
  margin-top: 75px;
}

.sizing{
	width:100%!important;
	}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(232, 238, 240);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
  }
  .style-box{
	  width:155%!important;
  }
  
  .margin-top{
	    margin-top: 50px;
}
	  

  .image-size {
    max-width: 100%;
    height: 245px;
    border-radius: 8px;
    border: 1px solid black;
    margin: -36px 6px 0px -17px;
    padding: 0px;
  }

  .m-top {
    margin-top: 5px;
  }

  .reg-m-top {
    margin-top: 5px;
  }

  #mediaquare-img {
    margin-top: 350px;
    position: absolute;
    max-width: 323px;
  }

  #reg-mediaquare-img {
    display: none;
  }

  #mediaquare-form {
    margin-top: 10px;
  }

  .border-style {
    border: 1px solid black;

  }
  .sizing{
	width:100%!important;
	margin-left:0px!important;
	}


}

* {
  box-sizing: border-box;
}

.input-container {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  height: 25px;
  padding: 4px;
  background: dodgerblue;
  color: white;
  min-width: 35px;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.input-field {
  height: 25px;
  outline: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.input-field:focus {
  border: 1px solid dodgerblue;
}

.size-input-box {
  margin-top: -13px;

}

/* Set a style for the submit button */
.btn-style {
    background-color: dodgerblue;
    color: white;
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
    border-radius: 8px;
    height: 33px;
    text-align: center;
    margin-top: 5px;
}

.btn:hover {
  opacity: 1;
}


.style-box {
  box-shadow: 10px 10px 5px 0px rgb(217 217 217 / 75%);
}

/* =========================login and registration css end here ============================= */

/* =========================dashbord css end here ============================================ */

.dropdown-menu {
  margin: 0 0 0 -65px
}

.bg-nav {
  border: 1px solid rgb(255 255 255);
  background: rgb(249, 246, 246);
  background: linear-gradient(0deg, rgba(249, 246, 246, 1) 0%, rgba(235, 226, 226, 1) 4%, rgba(239, 238, 238, 1) 33%, rgba(255, 250, 250, 1) 55%, rgba(231, 231, 231, 1) 79%);
}
.bg:hover {
  border: 1px solid rgb(255 255 255);
  background: rgb(249, 246, 246);
}

.sb-nav {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  margin: 0 0 0 60px;
  list-style: none;
  z-index: 1039;
}

.nav-tabs {
  margin: 0 0 5px 0px;
  width: 850px;
  border-bottom: 1px solid #000000;
}

.nav-link:focus,
.nav-link:hover {
  color: #000000;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #000000 #000000 #e1dede;
  isolation: isolate;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #e1dede;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background: rgb(249, 246, 246);
  background: linear-gradient(0deg, rgba(249, 246, 246, 1) 0%, rgba(235, 226, 226, 1) 4%, rgba(239, 238, 238, 1) 33%, rgba(255, 250, 250, 1) 55%, rgba(231, 231, 231, 1) 79%);
  border-color: #000000 #000000 #e1dede;
}

.nav-tabs .dropdown-menu {
  margin: 0 0 0 -20px;
}

.gap {
  gap: 0rem !important;
}

.logo-img {
  height: auto;
  max-width: 100%;
}

.fa-2x {
  font-size: 44px !important;
}

#layoutSidenav {
  display: flex;
}

#layoutSidenav #layoutSidenav_nav {
  flex-basis: 225px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 1038;
  transform: translateX(-225px);
}

#layoutSidenav #layoutSidenav_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 56px);
  margin-left: -225px;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
  transform: translateX(0);
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1037;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }

  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }

  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(-225px);
  }

  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: -225px;
  }

  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
  }
}

/* .sb-nav-fixed .sb-topnav {
  z-index: 1039;
} */
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: 225px;
  height: 100vh;
  /* z-index: 1038; */
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
  padding-top: 0px;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 0px;
  top: 0px;
}


.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
  margin-right: 0.5rem;
}

.sb-topnav {
  padding-left: 0;
  height: 56px;
  /* z-index: 1039; */
}

.sb-topnav .navbar-brand {
  width: 225px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

.sb-topnav.navbar-dark #sidebarToggle {
  color: rgba(255, 255, 255, 0.5);
}

.sb-topnav.navbar-light #sidebarToggle {
  color: #212529;
}

.sb-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
}

.sb-sidenav .sb-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 0;
    position: relative;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
  font-size: 0.9rem;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
  transform: rotate(-90deg);
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
  margin-left: 1.5rem;
  flex-direction: column;
}

.sb-sidenav .sb-sidenav-footer {
  padding: 0.75rem;
  flex-shrink: 0;
}

.sb-sidenav-dark {
  background-color: #ffffff;
  color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: rgba(255, 255, 255, 0.25);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: rgba(0, 0, 0, 0.25);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: rgba(0, 0, 0, 0.25);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
  color: #0e26ff;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
  color: hwb(60 63% 35%);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #000000;
}

.sb-sidenav-dark .sb-sidenav-footer {
  background-color: #343a40;
}

.sb-sidenav-light {
  background-color: #f8f9fa;
  color: #212529;
}

.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: #adb5bd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link {
  color: #212529;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: #adb5bd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: #adb5bd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
  color: #007bff;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
  color: #007bff;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #007bff;
}

.sb-sidenav-light .sb-sidenav-footer {
  background-color: #e9ecef;
}

/* ============================================dashbord css end here=========================================== */